
@{
    ViewBag.Title = "Base";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="~/Content/CSS/Base.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<br />
<div id="composicao">
    <center>
        @{
            <img src="@ViewBag.Imagem" id="personagem" height="500" width="350" /> <br />
        }
        <a class="waves-effect waves-light btn green darken-4 botoes" href="~/Jogo/Personagem">Personagem</a>
        <a class="waves-effect waves-light btn green darken-4 botoes" href="~/Jogo/Envelhecer">Envelhecer!<i class="material-icons">access_time</i></a>
    </center>
</div>

@{
    int pbSaude = ViewBag.Personagem.PontosSaude / 10;
    int pbInteligencia = ViewBag.Personagem.PontosInteligencia / 10;
    int pbRelacionamento = ViewBag.Personagem.PontosRelacionamento / 10;
    int pbFelicidade = ViewBag.Personagem.PontosFelicidade / 10;
}
<progress max="100" value=@pbSaude id="pbSaude" class="tooltipped" data-position="bottom" data-tooltip="Saúde: @ViewBag.Personagem.PontosSaude"></progress>
<progress max="100" value=@pbInteligencia id="pbInteligencia" class="tooltipped" data-position="bottom" data-tooltip="Inteligência: @ViewBag.Personagem.PontosInteligencia"></progress>
<progress max="100" value=@pbRelacionamento id="pbRelacionamento" class="tooltipped" data-position="bottom" data-tooltip="Relacionamento: @ViewBag.Personagem.PontosRelacionamento"></progress>
<progress max="100" value=@pbFelicidade id="pbFelicidade" class="tooltipped" data-position="bottom" data-tooltip="Felicidade: @ViewBag.Personagem.PontosFelicidade"></progress>


<a class="waves-effect waves-light btn green darken-4 botoes" id="mercado" href="/MudarPagina/0/Mercado">Mercado</a>
<a class="waves-effect waves-light btn green darken-4 botoes" id="empregos" href="/MudarPagina/0/Emprego">Empregos</a>
<a class="waves-effect waves-light btn green darken-4 botoes" id="cursos" href="/MudarPagina/0/Curso">Cursos</a>
<a class="waves-effect waves-light btn green darken-4 botoes" id="outros" href="~/Jogo/Outros">Outros</a>

@{
    string acontecimento = "";
    string opcao1 = "";
    string opcao2 = "";
    int idConsequencia1 = 0;
    int idConsequencia2 = 0;
    if (ViewBag.Acontecimento != null)
    {
        acontecimento = ViewBag.Acontecimento.Acontecimento;
        opcao1 = ViewBag.Escolha.Opcao1;
        opcao2 = ViewBag.Escolha.Opcao2;
        idConsequencia1 = @ViewBag.Consequencia1.Id;
        idConsequencia2 = @ViewBag.Consequencia2.Id;
    }
}


<div class="modal modal-fixed-footer" id="modal">
    <div class="modal-content">
        <div class="modal-header" id="headerModalAviso">
            <h3><i>Acontecimento</i></h3>
        </div>
        <div class="modal-body">
            <blockquote>
                <p class="flow-text">@acontecimento</p>
            </blockquote>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat" href="/Escolher/@idConsequencia1">@opcao1</a>
        <a class="modal-close waves-effect waves-green btn-flat" href="/Escolher/@idConsequencia2">@opcao2</a>
    </div>
</div>

<script>
    var modal = document.getElementById("modal");

    abrirModal = function () {
        modal.style.display = "block";
    }

    $('.modal-close').onclick = function () {
        modal.style.display = "none";
    }

    window.onload = function () {

        $.ajaxSetup({ async: false });
        $.when($.post('/Jogo/HaMensagem', {
        },
            function (data) {
                if (data) {
                    abrirModal();
                }
            }));
    }

    $(document).ready(function () {
        $('.tooltipped').tooltip();
    });
</script>

