
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Sofia" rel="stylesheet">
</head>


<a href="/Jogo/Base" class="waves-effect waves-light btn" style="position:relative;left:0;top:0;">Voltar</a>
<div class="container">
    <center>
        <p style="font-family: 'Sofia',cursive;font-size:10vh;" class="blue-text text-darken-2">Empregos</p>
    </center>
    @if (ViewBag.EmpregoAtual != null)
    {
        <p class="flow-text" style="color:deepskyblue; font-family: 'Sofia', cursive; font-size:4vh;">Emprego atual: @ViewBag.EmpregoAtual.trabalho</p>
        <p class="flow-text" style="color:deepskyblue; font-family: 'Sofia', cursive; font-size:4vh;">Salário: @ViewBag.EmpregoAtual.salario.ToString().Substring(0, ViewBag.EmpregoAtual.salario.ToString().Length - 2) </p>
    }
    else
    {
        <p class="flow-text" style="color: deepskyblue; font-family: 'Sofia', cursive; font-size:4vh;">Você não está trabalhando no momento!</p>
    }

    <table class="highlight centered" style=" border: 1px solid #e0e0e0; position:relative;">
        <thead>
            <tr>
                <th>Emprego</th>
                <th>Salário</th>
                <th>Experiência Necessária</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = ViewBag.Pagina * 4 + 1; i < (ViewBag.Pagina * 4) + 5; i++)
            {
                string enabled = "";
                //if (ViewBag.Emprego[i].anosExperiencia < ViewBag.AnosExperiencia)
                //{
                //    enabled = "disabled";
                //}
                if (i < ViewBag.Emprego.Count)
                {
                    <tr>
                        <td>@ViewBag.Emprego[i].trabalho</td>
                        <td>@ViewBag.Emprego[i].salario</td>
                        <td>@ViewBag.Emprego[i].cursoNecessario</td>
                        <td><a class="waves-effect waves-light btn-small @enabled" href="/EntrevistaEmprego/@ViewBag.Emprego[i].id">Fazer entrevista</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    <center>
        @{int paginaAnterior = ViewBag.Pagina - 1;
            int proximaPagina = ViewBag.Pagina + 1; }

        @if (ViewBag.Pagina > 0)
        {
            <a style="position: relative; bottom:0; margin-right:4vh;" href="/MudarPagina/@paginaAnterior/Emprego">Voltar aos empregos anteriores</a>
        }
        @if ((ViewBag.Pagina + 1) * 4 < ViewBag.Emprego.Count)
        {
            <a style="position: relative; bottom:0;" href="/MudarPagina/@proximaPagina/Emprego">Ver mais empregos</a>
        }
    </center>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

</div>

<script>

    function SelecionarEmprego(sal, trab) {
        alert('aaaa');
        var instance = M.Modal.getInstance(elem)
        instance.open();
        $(document).ready(function () {
            $('.modal').modal();
        });
    }
</script>
