@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
    <h1>Seu Dinheiro: @ViewBag.Jogador.Dinheiro.ToString().Substring(0, ViewBag.Jogador.Dinheiro.ToString().Length - 2)</h1>

    <table class="highlight centered" style=" border: 1px solid #e0e0e0;">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Produto</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var mc in ViewBag.Mercado)
            {
                <tr>
                    <td>@mc.TipoProduto</td>
                    <td>@mc.Produto</td>
                    <td>@mc.Descricao</td>
                    <td>@mc.Preco.ToString().Substring(0, mc.Preco.ToString().Length - 2)</td>
                    <td><a href="/Comprar/@mc.Preco.ToString().Replace(",",".")/@mc.Id">Comprar</a></td>
                </tr>
            }
        </tbody>
    </table>