
@{
    ViewBag.Title = "Personagem";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Sofia" rel="stylesheet">


<a href="/Jogo/Base" class="waves-effect waves-light btn" style="position:relative;left:0;top:0;">Voltar</a>

<div class="container">
    @{
        var a = 2019 + ViewBag.Personagem.Idade;
        var idade = ViewBag.Personagem.Idade + 3;
    }
    <p style="font-family: 'Sofia',cursive;font-size:8vh;" class="blue-text text-darken-2">Sobre o Personagem</p><br />
    <p>
        <strong>Ano Atual:</strong>
        @a
    </p>
    <p style="font-size:4vh">Informações Pessoais</p>
    <hr style="height:1px; background-color:black;" />
    <p><strong>Nome:</strong> @ViewBag.Personagem.Nome</p>
    <p><strong>Idade:</strong> @ViewBag.Personagem.Idade anos</p>
    <div>
        <p><strong>Saúde:</strong> @ViewBag.Personagem.PontosSaude</p>
        <p><strong>Inteligência:</strong> @ViewBag.Personagem.PontosInteligencia</p>
        <p><strong>Felicidade:</strong> @ViewBag.Personagem.PontosFelicidade</p>
        <p><strong>Dinheiro:</strong> @ViewBag.Personagem.Dinheiro $</p>
    </div>

    @{
        if (ViewBag.Parceiro.id != 0)
        {
            <p style="font-size:4vh">Relacionamento</p>
            <hr style="height:1px; background-color:black;" />
            
            <p><strong>Nome do Parceiro:</strong> @ViewBag.Parceiro.nome</p>
            <p><strong>Idade do parceiro:@idade</strong></p>
            <p><strong>Relacionamento:</strong> @ViewBag.Personagem.PontosRelacionamento</p>
        }

        if (ViewBag.Bens.Count != 0)
        {
            <p style="font-size:4vh">Bens</p>
            <hr style="height:1px; background-color:black;" />

            <table>
                <th>Bem</th>
                <th>Descrição</th>
                <th>Valor</th>
                @foreach (var bem in ViewBag.Bens)
                {
                <tr>
                    <td>@bem.Produto</td>
                    <td>@bem.Descricao</td>
                    <td>@String.Format("{0:0.00}", bem.Preco)</td>
                </tr>
                }
            </table>
        }

        if (ViewBag.CursosFeitos.Count != 0)
        {
            <p style="font-size:4vh">Cursos Feitos</p>
            <hr style="height:1px; background-color:black;" />
            <table>
                <th>Curso</th>
                <th>Descrição</th>
                @foreach (var cur in ViewBag.CursosFeitos)
                {
                <tr>
                    <td>@cur.Nome</td>
                    <td>@cur.Descricao</td>
                </tr>
                }
            </table>
        }
    }
</div>